:root {
    /*Colors from coolors.co
    Check out their website ><*/
    --background-color: #303633ff;
    --primary-1: #20bf55ff;
    --primary-2: #42cafdff;
    --primary-3: #fe6d73ff;
    --secondary-1: #f5cac3ff;
    --secondary-2: #f4d6ccff;
    --secondary-3: #d3fac7ff;
    --text-color: #fcfafaff;
}